
@font-face {
    font-family: 'Retro';
    src: url('../fonts/Retro.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoMono-VariableFont_wght.ttf');
    font-weight: 900;
    font-style: normal;
}
